*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Login-Overlay{
    height: 105vh;
    /* width: 100vw; */
    /* padding: 5r/em 0;     */
    display: flex;
    justify-content: center;
    padding: 5rem 20%;
    
}

.Form-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #EEEDEB;
    overflow: hidden;
    border-radius: 2rem;
    width: 100%;


    /* padding: ; */
    /* margin: 1rem; */
}
.signup-form h2{
    /* position: relative; */
    bottom: 2rem;
}
.signup-form{
    position: relative;
    bottom: 1.5rem;
}
.confirm-form-sign{
    
    position: relative;
    top: 1rem;
    left: 9rem;
    background-color: black;
    border-radius: 5rem;
    color: white;
    padding: 0.5rem;
    width: 10rem;
    margin-bottom: 1.9rem;

}
form {
    width: 55%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1.5em 3%;
    /* row-gap: 0.5rem; */
    justify-content: space-between;
}

.error {
    font-size: 11px;
    color: red;
}

form h2{
    /* margin: 1em 0; */
    align-self: center;
}
.form-ins{
    background-color: white;
    border: 2px #EBD1C1 solid;
    height: 2.2em;
    border-radius: 2em;
    padding: 0 0.5em;

    /* width: 18rem; */
    /* align-items: center; */
}
.form-visual {
    width: 45%;
    overflow: hidden;
    height: 100%;
}
.confirm-form {
    width: 40%;
    align-self: center;
    height: 3em;
    border-radius: 2em;
    color: white;
    background-color: black;

}
.form-visual img {
    width: 100%;
    height: 100%;
}
label {
    margin-left: 1em;
    /* color: orangered; */
    font-family:  serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* gap: 0.5rem; */
}
.or-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.or-seperator-si{
    width: 30%;
    height: 2px;
    background-color: black;
    position: relative;
    top: 5rem;
}
.or-seperator {
    width: 30%;
    height: 2px;
    background-color: black;
}
.alt-text {
    align-self: center;
    text-align: center;
    line-height: 1.4em;
}
a {
    color: orangered;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
.inactive {
    display: none !important;
}
.inputlabel {
    display: flex;
    flex-direction: column;
    /* row-gap: 0.2em; */
  }
  .inputRow {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .inputRow .inputlabel{
    width: 50%;
  }
  .switch-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.3em;
  }
@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}
