/* Importing Google Font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.category {
  padding: 0 15vw;
}

.category h2 {
  /* width: 70vw; */
  margin-left: 5vw;
  margin-bottom: 2rem;
}
.category h2 a {
  text-decoration: none;
  color: black;
  background: linear-gradient(180deg, rgb(231, 65, 3) 0%, rgb(255, 255, 255) 100%);
  padding: 0.3rem 1.5rem;
  border-radius: 2rem 2rem 0 0;
}
.swiper-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-wrapper {
  overflow: hidden;
  margin: 0 70px 55px;
  /* max-width: 70vw; */
}

.card-list .card-item {
  overflow: hidden;
  color: #fff;
  user-select: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgb(47, 54, 69);
}

.user-image {
  height: 70%;
}

.card-list .card-item {
  height: 35vh;
}


.card-list .card-item .user-profession {
  font-size: 1.15rem;
  color: #e3e3e3;
  margin: 14px 0 40px;
}

.name-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding: 5px 20px;
}

.price-color {
  color: orangered;
  text-align: right;
  font-size: 1.45rem;
  font-size: 1.45rem;
  border-radius: 6px;
  font-weight: 500;
}


.card-list .card-item .message-button {
  font-size: 0.9rem;
  padding: 0 0.4REM;
  max-height: 100%;
  /* border-radius: 6px; */
  font-weight: 500;
  cursor: pointer;
  /* border: 1px solid transparent; */
  /* transition: 0.2s ease; */
}


.slider-wrapper .swiper-pagination-bullet {
  background: rgb(47, 54, 69);
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #000000;
  margin-top: -55px;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #4658ff;
}

@media (max-width: 768px) {

  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }

  .card-list .card-item .message-button {
    font-size: 1rem;
  }

  .price-color {
    font-size: 1.3rem;
  }

}

@media (max-width: 380px) {
  .card-list .card-item .message-button {
    font-size: 0.8rem;
    font-size: 1rem;
  }

  .price-color {
    font-size: 1.3rem;
  }

}

@media (max-width: 380px) {
  .card-list .card-item .message-button {
    font-size: 0.8rem;
  }
}