body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-content {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-250px); /* مخفي افتراضيًا */
    position: fixed;
    height: 100%;
    z-index: 1;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-toggle {
    font-size: 24px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.shoe-collection {
    display: flex;
    flex-wrap: wrap;
}

.shoe-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 40px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
}

.shoe-card:hover {
    transform: translateY(-5px);
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters select, .filters input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.item{
    width: 200px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        transform: translateX(-100%);
    }

    .content {
        margin-left: 0;
    }

    .shoe-card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .shoe-card {
        width: calc(100% - 40px);
    }
}
